// colors
$primary-color: hsl(224, 23%, 55%);
$btn-color: hsl(245, 75%, 52%);
$plan-color: hsl(225, 100%, 98%);
$title-color: hsl(223, 47%, 23%);
$bg-color: hsl(225, 100%, 94%);

$white-color: #fff;
$black-color: rgba(0,0,0,0.2);

// FONT SIZE
$default-font-size: 1.6rem;

// grid
$grid-width:114rem;
$gutter-vertical: 0;
$gutter-horizontal: 0;
